@define-color foreground #cdd6f4;
@define-color back #11111b;
@define-color cursor #f5c2e7;

/* All Colors */

@define-color background #1e1e2e;

@define-color error #f38ba8;
@define-color error_container #11111b;

@define-color inverse_on_surface #6c7086;
@define-color inverse_primary #b4befe;
@define-color inverse_surface #cdd6f4;

@define-color on_background #cdd6f4;

@define-color on_error #11111b;
@define-color on_error_container #f2cdcd;

@define-color on_primary #11111b;
@define-color on_primary_container #b4befe;
@define-color on_primary_fixed #1e1e2e;
@define-color on_primary_fixed_variant #585b70;

@define-color on_secondary #11111b;
@define-color on_secondary_container #45475a;
@define-color on_secondary_fixed #181825;
@define-color on_secondary_fixed_variant #585b70;

@define-color on_surface #cdd6f4;
@define-color on_surface_variant #9399b2;

@define-color on_tertiary #11111b;
@define-color on_tertiary_container #f5e0dc;
@define-color on_tertiary_fixed #181825;
@define-color on_tertiary_fixed_variant #45475a;

@define-color outline #6c7086;
@define-color outline_variant #45475a;

@define-color primary #cba6f7;
@define-color primary_container #585b70;
@define-color primary_fixed #b4befe;
@define-color primary_fixed_dim #a6adc8;

@define-color scrim #000000;

@define-color secondary #a6adc8;
@define-color secondary_container #45475a;
@define-color secondary_fixed #bac2de;
@define-color secondary_fixed_dim #a6adc8;

@define-color shadow #000000;

@define-color source_color #1e1e2e;

@define-color surface #181825;
@define-color surface_bright #45475a;
@define-color surface_container #313244;
@define-color surface_container_high #45475a;
@define-color surface_container_highest #585b70;
@define-color surface_container_low #1e1e2e;
@define-color surface_container_lowest #11111b;

@define-color surface_dim #11111b;
@define-color surface_tint #b4befe;

@define-color surface_variant #45475a;

@define-color tertiary #f5e0dc;
@define-color tertiary_container #45475a;
@define-color tertiary_fixed #f2cdcd;
@define-color tertiary_fixed_dim #f5e0dc;

