@define-color foreground #cdd6f4;    /* keep readable light gray */
@define-color back #11111b;           /* very dark background */

@define-color background #111827;     /* slightly bluish dark base */

@define-color error #f56565;          /* soft red for errors */
@define-color error_container #11111b;

@define-color inverse_on_surface #6c7086;
@define-color inverse_primary #77b6e1;  /* light NixOS blue */
@define-color inverse_surface #cdd6f4;

@define-color on_background #cdd6f4;

@define-color on_error #11111b;
@define-color on_error_container #f2cdcd;

@define-color on_primary #11111b;
@define-color on_primary_container #4d6fb7;  /* NixOS dark blue */
@define-color on_primary_fixed #111827;
@define-color on_primary_fixed_variant #2a3b58;

@define-color on_secondary #11111b;
@define-color on_secondary_container #2a3b58;
@define-color on_secondary_fixed #181825;
@define-color on_secondary_fixed_variant #5e81ac;

@define-color on_surface #cdd6f4;
@define-color on_surface_variant #5e81ac;

@define-color on_tertiary #11111b;
@define-color on_tertiary_container #77b6e1;
@define-color on_tertiary_fixed #181825;
@define-color on_tertiary_fixed_variant #2a3b58;

@define-color outline #5e81ac;
@define-color outline_variant #2a3b58;

@define-color primary #4d6fb7;
@define-color primary_container #2a3b58;
@define-color primary_fixed #77b6e1;
@define-color primary_fixed_dim #5e81ac;

@define-color scrim #000000;

@define-color secondary #77b6e1;
@define-color secondary_container #2a3b58;
@define-color secondary_fixed #5e81ac;
@define-color secondary_fixed_dim #77b6e1;

@define-color shadow #000000;

@define-color source_color #111827;

@define-color surface #181825;
@define-color surface_bright #2a3b58;
@define-color surface_container #313244;
@define-color surface_container_high #2a3b58;
@define-color surface_container_highest #5e81ac;
@define-color surface_container_low #111827;
@define-color surface_container_lowest #11111b;

@define-color surface_dim #11111b;
@define-color surface_tint #77b6e1;

@define-color surface_variant #2a3b58;

@define-color tertiary #77b6e1;
@define-color tertiary_container #2a3b58;
@define-color tertiary_fixed #77b6e1;
@define-color tertiary_fixed_dim #5e81ac;

