* {
    background:      #000000; // Black
    background-alt:  #424153; // Dark Blue-Gray (Subtle contrast)
    foreground:      #cccccc; // Light Gray (Text color)
    selected:        #663399; // Purple Accent (Highlighting the selected item)
    active:          #663399; // Purple Accent (For active elements/tabs)
    urgent:          #663399; // Purple Accent (For urgent/notification elements)

}
